.main-header {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $text-color;


    &__heading {
        font-size: 5rem;
        font-weight: bold;
        margin: 1.8rem;
        @media all and (max-width: 1024px) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__text {
        font-size: 2.5rem;
        font-weight: 100;
    }
}

