$primary: #337ab7 !default;
$success: #5cb85c !default;
$info: #5bc0de !default;
$warning: #f0ad4e !default;
$danger: #d9534f !default;
$dark: #333333;
$light: #dddddd;
$darkened: rgba(0, 0, 0, 0.7);
